.app-container {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh; /* Займає всю висоту вікна */
}

.articles-section {
  width: 100%;
  max-width: 800px;
  margin: 40px 0;
  flex: 1; /* Дозволяє секції заповнити все доступне місце */
}

.articles-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

@media (min-width: 768px) {
  .articles-grid {
    grid-template-columns: 1fr 1fr;
  }
}

.footer-container {
  margin-top: auto; /* Відступ для футера */
  width: 100%; /* Ширина футера */
}
